* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
  
// GLOBAL 

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main{
    padding-top: 100px;
    min-height: calc(100vh - 110px);
}

h1{ 
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 26px;
    padding: 20px;   
}

h2{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;   
}


//Generales
@import "./generales/header";
@import "./generales/destacados";
@import "./generales/footer";

//Páginas
@import "./paginas/index";
@import "./paginas/nosotros";
@import "./paginas/eventos";
@import "./paginas/login";
@import "./paginas/registro";
@import "./paginas/indumentaria_paravos";
@import "./paginas/personaliza_tu_indumentaria";




