.enConstruccion{
//    min-height: calc(50vh - 110px);

    .imgEnConstruccion{
        width: 95%;
        max-width: 800px;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content:  center; /*centrado*/
    }
}



