//Indumentaria para vos...

.seccion{

    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: column;
    gap: 10px;

    &__bloque{
        margin: auto;
        box-shadow: 2px 2px 8px 2px black;
        border-radius: 5px;

        img{
            width: 100%;
            max-width: 525px;
            object-fit: cover; /*se ajusta al contenedor*/
            border-radius: 5px;
            
        }

        h4{
            font-family: Oswald, sans-serif;
            font-weight: bold;
            color: rgb(255, 255, 255);
            position: absolute;
            font-size: 25px;
            padding: 10px 20px;
            text-shadow: 2px 2px 7px black;
            
        }
    }

    &__bloque:hover{
        box-shadow: 2px 2px 8px 4px black;
    }
    
    &__bloque:hover h4{
        animation: resaltar 0.5s infinite alternate;
    }
}

@media (min-width:768px){
    
    .seccion{
        flex-direction: row;
        gap: 30px;
        max-width: 70vw;

        &__bloque{
            img{
                max-height: 500px;
                max-width: none;
            }
        }    
    }
}

@media (min-width:992px){

    .seccion{
       
        &__bloque{
            
            h4{
                font-size: 35px;
                transition: 1s;
            }
        }    
    }
}

@keyframes resaltar{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}